
.titulo {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /*color: #00ACC2;*/
  color: #0A84A0;
  /*color: #D92E79;*/
  font-size: 1.6rem;
  text-align: center;
  padding-bottom: 0.5rem;
}

.btn:hover {
  background: #066978;
}

.btn {
  background-color: #0A84A0;
}
